.header{
    background-color: red;
    float: left;
    width: 100%;
    height: 50px;
}

.sidebar{
    background-color: bisque;
    float: left;
    width: 25%;
    height: 400px;
}
.content{
    background-color: brown;
    float: left;
    width: 75%;
    height: 400px;
    
}

.footer{
    background-color: black;
    float: left;
    width: 100%;
    height: 40px;
}
.box{
    width: 100px;
    height: 100px;
    background-color: aqua;
    margin: 5px;
    float: left;
}